CONFIG_ARCH="arm"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="bk7258"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258/bk7258-devkit"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="bk7258-devkit"
CONFIG_ARCH_BOARD_BK7258_DEVKIT=y
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_BK7258_COMPONENT_AP=y
CONFIG_ARCH_TRUSTZONE_SECURE=y
CONFIG_ARCH_IRQPRIO=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARMV8M_SYSTICK=y
CONFIG_ARMV8M_DCACHE=y
CONFIG_ARMV8M_ICACHE=y
CONFIG_BOARD_EARLY_INITIALIZE=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARDCTL=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_HARDFAULT_ALERT=y
CONFIG_DEBUG_MEMFAULT=y
CONFIG_DEBUG_BUSFAULT=y
CONFIG_DEBUG_USAGEFAULT=y
CONFIG_DEBUG_SECUREFAULT=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEV_CONSOLE=y
CONFIG_DEV_SIMPLE_ADDRENV=y
CONFIG_IDLETHREAD_STACKSIZE=8192
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=8192
CONFIG_INTELHEX_BINARY=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_PROMPT_STRING="nsh-ap> "
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=344064
CONFIG_RAM_START=0x28010000
CONFIG_RAW_BINARY=y
CONFIG_BK7258_MAILBOX=y
CONFIG_RPMSG_LOCAL_CPUNAME="ap"
CONFIG_RPMSG_PING=y
CONFIG_RPMSG_UART=y
CONFIG_RPMSG_UART_CONSOLE=y
CONFIG_RPTUN=y
CONFIG_RPTUN_AUTO_RESET_DISABLE=y
CONFIG_RPTUN_PRIORITY=90
CONFIG_RPTUN_STACKSIZE=4096
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL=y
CONFIG_START_DAY=1
CONFIG_START_YEAR=2026
CONFIG_TASK_NAME_SIZE=0
CONFIG_SYSTEM_NSH=y
CONFIG_USEC_PER_TICK=1000
CONFIG_FS_PROCFS=y
CONFIG_NSH_ARCHINIT=y
